name: Docker Build & Push

on:
  push:
    branches: [ "main" ]


jobs:
  docker:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        run: |
          echo "${{ secrets.DOCKERHUB_PASSWORD }}" | docker login -u "${{ secrets.DOCKERHUB_USER }}" --password-stdin

      - name: Build Docker image
        run: |
          docker build -t ${{ secrets.DOCKERHUB_USER }}/springer-hello:latest .
          docker build -t ${{ secrets.DOCKERHUB_USER }}/springer-hello:${{ github.sha }} .

      - name: Push Docker image
        run: |
          docker push ${{ secrets.DOCKERHUB_USER }}/springer-hello:latest
          docker push ${{ secrets.DOCKERHUB_USER }}/springer-hello:${{ github.sha }}