name: Docker Build & Push

on:
  push:
    branches: [ "main" ]


jobs:
  docker:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        run: |
         docker login -u ranjanxth -p ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build Docker image
        run: docker build -t ranjanxth/springer-hello:latest .

      - name: Push Docker image
        run: docker push ranjanxth/springer-hello:latest