name: Python CI

on:
  push:
    branches:
      - main

jobs:
  build_and_push:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.x'    

    - name: Build Docker image
      run: |
        docker build -t ranjanxth/springer-hello:latest .

    - name: Publish Docker Image to Docker Hub
      env:
      REGISTRY_ADDRESS: docker.io
      REGISTRY_USERNAME: ${{ secrets.REGISTRY_USERNAME }}
      REGISTRY_PASSWD: ${{ secrets.REGISTRY_PASSWD }}
      run: |
        echo "${{ secrets.REGISTRY_PASSWD }}" | docker login docker.io/ranjanxth -u "${{ secrets.REGISTRY_USERNAME }}" --password-stdin
        docker push docker.io/ranjanxth/springer-hello:latest
